doctype basic
html
	head
		title Гуруковки.ру
		meta(charset="UTF-8")
		meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
		meta(content="telephone=no", name="format-detection")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		link(rel="icon", type="image/png", href="favicon.png")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,300&subset=latin,cyrillic")
		link(rel="stylesheet", href="css/bootstrap.css")
		link(rel="stylesheet", href="css/style.css")
		link(rel="stylesheet", href="bower/slick-carousel/slick/slick.css")
		link(rel="stylesheet", href="bower/fancybox/source/jquery.fancybox.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
		// Yandex.Metrika counter
		script(type="text/javascript").
			(function (d, w, c) {
			(w[c] = w[c] || []).push(function() {
			try {
			w.yaCounter38841895 = new Ya.Metrika({
			id:38841895,
			clickmap:true,
			trackLinks:true,
			accurateTrackBounce:true,
			webvisor:true
			});
			} catch(e) { }
			});

			var n = d.getElementsByTagName("script")[0],
			s = d.createElement("script"),
			f = function () { n.parentNode.insertBefore(s, n); };
			s.type = "text/javascript";
			s.async = true;
			s.src = "https://mc.yandex.ru/metrika/watch.js";

			if (w.opera == "[object Opera]") {
			d.addEventListener("DOMContentLoaded", f, false);
			} else { f(); }
			})(document, window, "yandex_metrika_callbacks");
		noscript
			div
				img(src="https://mc.yandex.ru/watch/38574075", style="position:absolute; left:-9999px;" alt="")
		// /Yandex.Metrika counter
	body
		.nav-illusion
		nav.nav
			.container
				.row
					.col-xs-12.col-lg-11.col-lg-offset-1
							button.nav__humburger
								span.humburger
								
							ul.nav__container
								li.nav__item
									a(href="#main") Светлица
								li.nav__item 
									a(href="#smithy") Кузница
								li.nav__item 
									a(href="#price") Вознаграждение
								li.nav__item 
									a(href="#shop") Лавка
								li.nav__item 
									a(href="#about") Кратко о нас
								li.nav__item 
									a(href="#reviews") Молва
								li.nav__item 
									a(href="#map") Местонахождение
		main#main.main
			header.header
				.container
					.row
						.col-sm-4.col-lg-4
							img.header__logo.wow.fadeInLeft(src="images/logo.png", width="297", height="60")
						.col-sm-8.col-lg-7.col-lg-offset-1
							.header__contacts.contacts
								.contacts__side.contacts__side-left.wow.fadeInLeft(data-wow-delay="0.2s")
									.contacts__phone
										.i-phone.contacts__icon
										| +7 (985) 843 67 06
									.contacts__mail
										.i-mail.contacts__icon
										| pismo@gurukovki.ru
								.contacts__side.contacts__side-right.wow.fadeInLeft(data-wow-delay="0.4s")
									a.btn.contacts__btn.fancy(href="#call") Обратный звонок
									a.btn.contacts__btn.fancy(href="#partners") Дружество
			.container
				.row
					.col-xs-12
						.main__place
							h1.main__heading.wow.fadeInDown(data-wow-delay="0.2s")
								| Кузнечное ремесло – дело древнее, серьёзное!
							p.wow.fadeInLeft(data-wow-delay="0.4s")
								| Потому не привыкли мы красивых слов о себе расписывать. Настоящую красоту мы из металлов создаём. Коли Вы уже про нас наслышаны, да знаете, что надобно – звонок обратный закажите, там и сговоримся.
							.wow.fadeInUp(data-wow-delay="0.6s")
								a.btn.fancy.btn-md.main__btn(href="#call") Сговориться
		#smithy.smithy
			.container
				.row
					.col-xs-12
						h1.decor-heading.smithy__heading.wow.fadeInDown
							| Кузница
						p.smithy__slogan.wow.fadeInLeft
							| Здесь можно ближе познакомиться с нашими умениями, стать свидетелями создания кованого творения, и выделить варианты Вам подходящие да глаз радующие:
					.col-xs-12
						.smithy__container
							.smithy__items.smithy__items-1
								figure.smithy__item.wow.fadeInLeft
									.smithy__item-pr
										.smithy__item-icon.i-smithy-icon-1
									figcaption.smithy__item-desc
										| Перила и ограждения лестничные
								figure.smithy__item.wow.fadeInLeft(data-wow-delay="0.2s")
									.smithy__item-pr
										.smithy__item-icon.i-smithy-icon-2
									figcaption.smithy__item-desc
										| Мебель и предметы интерьера
								figure.smithy__item.wow.fadeInLeft(data-wow-delay="0.4s")
									.smithy__item-pr
										.smithy__item-icon.i-smithy-icon-3
									figcaption.smithy__item-desc
										| Ворота, двери и калитки
								figure.smithy__item.wow.fadeInLeft(data-wow-delay="0.6s")
									.smithy__item-pr
										.smithy__item-icon.i-smithy-icon-4
									figcaption.smithy__item-desc
										| Металлоконструкции
							.smithy__items.smithy__items-2
								figure.smithy__item.wow.fadeInLeft
									.smithy__item-pr
										.smithy__item-icon.i-smithy-icon-5
									figcaption.smithy__item-desc
										| Решётки на окна
								figure.smithy__item.wow.fadeInLeft(data-wow-delay="0.2s")
									.smithy__item-pr
										.smithy__item-icon.i-smithy-icon-6
									figcaption.smithy__item-desc
										| Козырьки и навесы
								figure.smithy__item.wow.fadeInLeft(data-wow-delay="0.4s")
									.smithy__item-pr
										.smithy__item-icon.i-smithy-icon-7
									figcaption.smithy__item-desc
										| Ограждения балконные
							.smithy__items.smithy__items-3
								figure.smithy__item.wow.fadeInLeft
									.smithy__item-pr
										.smithy__item-icon.i-smithy-icon-8
									figcaption.smithy__item-desc
										| Малые архитектурные формы
								figure.smithy__item.wow.fadeInLeft(data-wow-delay="0.2s")
									.smithy__item-pr
										.smithy__item-icon.i-smithy-icon-9
									figcaption.smithy__item-desc
										| Заборы и газонные ограждения
					.col-xs-12
						p.smithy__desc.wow.fadeInLeft
							| Все эти виды кованых изделий мы изготовим с учётом Ваших надобностей и пожеланий. И даже если искомого здесь не увидели, скажите нам о желании – выкуем!
						.wow.fadeInUp
							a.btn.fancy.btn-md.smithy__btn(href="#call") Сказать о желаемом
		#price.price
			.container
				.row
					.col-lg-12
						h1.decor-heading.decor-heading-light.price__heading.wow.fadeInUp
							| Вознаграждение
						p.price__slogan.wow.fadeInLeft
							| Всякий труд соответствующего вознаграждения требует. А мы со всей душой к художественной ковке подходим. Как для самих себя делаем. Красиво и на века. Потому и изделия наши не самые дешёвые. Но и не перекупы мы – производство собственное, цену не заламываем. Иначе говоря, правильная у нас цена. Вот можете и сами убедиться:
						table.price__table
							tr.wow.fadeInUp
								td
									| Ограждения балконные и лестничные
								td(width=270)
									| от 8 000 руб. за м.п.
							tr.wow.fadeInUp
								td
									| Газонные ограждения
								td(width=270)
									| от 2 000 руб. за м. п.
							tr.wow.fadeInUp
								td
									|Решетки оконные
								td(width=270)
									| от 2 200 руб. за м. кв.
							tr.wow.fadeInUp
								td
									| Ворота/калитки
								td(width=270)
									| от 10 000 руб. за м. кв.
							tr.wow.fadeInUp
								td
									| Козырьки
								td(width=270)
									| от 35 000 руб. за единицу
							tr.wow.fadeInUp
								td
									| Беседки
								td(width=270)
									| от 80 000 руб. за единицу
							tr.wow.fadeInUp
								td
									| Заборы
								td(width=270)
									| от 3 000 руб. за м. кв
							tr.wow.fadeInUp
								td
									| Навесы
								td(width=270)
									| от 4000 руб. за м. кв.
						p.price__desc.wow.fadeInLeft
							| А замеры, доставку и монтаж изделий мы и вовсе бесплатно осуществляем. Так что ежели нужно точную стоимость рассчитать – расскажите, что да как. Высчитаем на расстоянии, а то и вовсе кузнеца учёного на замеры да расчёты пришлём бесплатно. И что ещё немаловажно – названная цена на деле не вырастет, мы слово держим
						.wow.fadeInUp
							a.btn.fancy.btn-md.price__btn(href="#call") Рассчитать
		#shop.shop
			.container
				.row
					.col-xs-12
						h1.decor-heading.shop__heading.wow.fadeInDown
							| Лавка
						p.shop__slogan.wow.fadeInLeft
							| Всё что здесь представлено, Вам даже дожидаться не придётся! Для Вас сохранили экземпляры готовые, в руки доставим в сроки кратчайшие, а при надобности даже в другой конец страны отправим. Выбирайте:
				.row
					.col-xs-12.col-sm-4
						figure.shop__item.wow.fadeInLeft(data-wow-delay="0s")
							img.shop__item-pr(src="images/shop/1.jpg", alt="Перила и ограждения лестничные")
							figcaption.shop__item-desc
								| Перила и ограждения лестничные
					.col-xs-12.col-sm-4
						figure.shop__item.wow.fadeInLeft(data-wow-delay="0.2s")
							img.shop__item-pr(src="images/shop/2.jpg", alt="Мебель и предметы интерьера")
							figcaption.shop__item-desc
								| Мебель и предметы
								| интерьера
					.col-xs-12.col-sm-4
						figure.shop__item.wow.fadeInLeft(data-wow-delay="0.4s")
							img.shop__item-pr(src="images/shop/3.jpg", alt="Ворота, двери и калитки")
							figcaption.shop__item-desc
								| Ворота, двери и калитки
					.col-xs-12.col-sm-4
						figure.shop__item.wow.fadeInLeft(data-wow-delay="0s")
							img.shop__item-pr(src="images/shop/4.jpg", alt="Металлоконструкции")
							figcaption.shop__item-desc
								| Металлоконструкции
					.col-xs-12.col-sm-4
						figure.shop__item.wow.fadeInLeft(data-wow-delay="0.2s")
							img.shop__item-pr(src="images/shop/5.jpg", alt="Решётки на окна")
							figcaption.shop__item-desc
								| Решётки на окна
					.col-xs-12.col-sm-4
						figure.shop__item.wow.fadeInLeft(data-wow-delay="0.4s")
							img.shop__item-pr(src="images/shop/6.jpg", alt="Козырьки и навесы")
							figcaption.shop__item-desc
								| Козырьки и навесы
					.col-xs-12.col-sm-4
						figure.shop__item.wow.fadeInLeft(data-wow-delay="0s")
							img.shop__item-pr(src="images/shop/7.jpg", alt="Ограждения балконные")
							figcaption.shop__item-desc
								| Ограждения балконные
					.col-xs-12.col-sm-4
						figure.shop__item.wow.fadeInLeft(data-wow-delay="0.2s")
							img.shop__item-pr(src="images/shop/8.jpg", alt="Малые архитектурные формы")
							figcaption.shop__item-desc
								| Малые архитектурные
								| формы
					.col-xs-12.col-sm-4
						figure.shop__item.wow.fadeInLeft(data-wow-delay="0.4s")
							img.shop__item-pr(src="images/shop/9.jpg", alt="Заборы и газонные ограждения")
							figcaption.shop__item-desc
								| Заборы и газонные
								| ограждения
		.about_and_reviews
			#about.about
				.container
					.row
						.col-xs-12
							.about__container
								h1.decor-heading.decor-heading-light.about__heading.wow.fadeInDown
									| Кратко о нас
								p.about__slogan.wow.fadeInLeft
									| Кузнецы мы. Куём столько лет, что пальцев на руках не хватит. Ремеслом овладели в совершенстве, но пыла к делу не теряем, вкладываемся в каждое изделие, оттого и люди к нам раз за разом приходят, да знакомых приводят. И мы к ним как к родным относимся! Про вознаграждение говорили уже. Разве что про крупные заказы неупомянули – на них мы скидки приятные делаем. Добавить-то особо и нечего. Вы лучше спрашивайте, людей послушайте, или же к нам в кузницу приезжайте – сами всё без слов поймёте!
								.wow.fadeInUp
									a.btn.fancy.btn-md.about__btn(href="#call") Спросить
			#reviews.reviews
				.container
					.row
						.col-xs-12
							h1.decor-heading.decor-heading-light.reviews__heading.wow.fadeInDown
								| Молва
							.reviews__slider
								.reviews__item
									.reviews__item-name
										| Сергей
									.reviews__item-desc
										| Я занимаюсь ремонтом домов по области и редкий ремонт обходится без изделий «ГуруКовки». Не побоюсь этого слова кузнецы от Бога! Встревал пару раз, закупившись в других компаниях, приходилось метаться между заказчиками и изготовителями, тепрь только здесь. Вобщем выражаю благодарность и желаю вам чтобы клиенты никогда не заканчивались!
								.reviews__item
									.reviews__item-name
										| Валерия Русакова
									.reviews__item-desc
										| Гуруковки для меня настоящая находка! Без их чудесных стульчиков, красивых столиков, завитушчатых перил и всего прочего интерьер был бы ну совершенно не тот!
										br
										| Тут вам всё – и потрясающее качество работ, и невысокие цены, и клиентоориентированность с доброжелательностью в такой, казалось бы, суровой сфере! Вы большие молодцы, я к вам снова и снова!
								.reviews__item
									.reviews__item-name
										| Генрих Викторович
									.reviews__item-desc
										| Компанию «ГуруКовки» мне посоветовал партнёр по бизнесу, поэтому изначально сомнений не было. Не подкачали – справились с задачей быстро и строго придерживаясь изначальных договорённостей. Благодарю.
								.reviews__item
									.reviews__item-name
										| Олег Лавров
									.reviews__item-desc
										| Обращался к Гуру Ковки что называется «под ключ». Нужен был забор, ворота, навес во дворе перед домом, немного мебели и пр. с доставкой и монтажом. Оформили всё по высшему разряду, даже посоветовали более подходящий вариант для нашей архитектуры! Жена безумно довольна, да и я сам первое время налюбоваться не мог! Отличная компания, рекомендую!
								.reviews__item
									.reviews__item-name
										| Евгений Казанцев
									.reviews__item-desc
										| Приятно, когда находишь компанию, в которую будешь обращаться, и не надо искать другую каждый раз. Конечно, кованые изделия требуются не так, чтобы часто, но я к «Гуру» обращался уже трижды (за разным), и с каждым разом мои впечатления только улучшались, и улушались от их золотых рук и отношения к заказчику. Многим мастерам и продажникам следовало бы здесь поучиться! А один раз я застал сам процесс изготовления – это видеть надо. Чистая магия! Заказывайте не раздумывая
								.reviews__item
									.reviews__item-name
										| Валентина Молотова
									.reviews__item-desc
										| Подписываюсь под каждым словом, а от себя добавлю, что для меня цена была немаловажной – я просмотрела кучу компаний, но если и находила цены ниже, то компания почему-то вызывала подозрения. Рада, что обратилась именно сюда!
		#map.map
			header.map__head
				h1.decor-heading.map__heading.wow.fadeInDown
					| Местонахождение
				p.map__slogan.wow.fadeInLeft
					| Найти нашу кузницу возможно в городе Чехов Московской области, ул. Садовая д. 3
					br
					| Будем рады Вас видеть!
			.map__content#map-content
		footer.foo
			| © 2016 Гуруковки. Все права защищены
		.hidden
			#call.popup
				form(action="mail.php", method="post")
					h2.popup__heading Обратный звонок
					input.input--name(type="text", placeholder="Имя", name="name", required)
					input.input--phone(type="text", placeholder="Телефон", name="phone", required)
					input.input--text(type="text" placeholder="Что заказываем?", name="text", required)
					button.btn.popup__btn(type="submit") Отправить
			#partners.popup
				form(action="mail.php", method="post")
					p Желаете изделия наши на постоянной основе да неповторимых условиях заказывать? Это можно. Детали устно стоит обсудить
					input.input--name(type="text", placeholder="Имя", name="name", required)
					input.input--phone(type="text", placeholder="Телефон", name="phone", required)
					button.btn.popup__btn(type="submit") Отправить
			#success.popup
				h2.popup__heading 
					| Спасибо!
					br
					| Ожидайте звонка!
		a#toTop.up(href="#")
			//- img(src="images/up.png", alt="up", width="48", height="48")
		script(src="bower/jquery/dist/jquery.min.js")
		script(src="bower/slick-carousel/slick/slick.min.js")
		script(src="bower/fancybox/source/jquery.fancybox.js")
		script(src="bower/jquery.maskedinput/dist/jquery.maskedinput.min.js")
		script(src="http://malsup.github.io/jquery.form.js")
		script(src="bower/wow/dist/wow.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/ismobilejs/0.4.0/isMobile.min.js")
		script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU", type="text/javascript")
		script(src="js/main.js")

